@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-primary-1200 text-primary-100 select-none;

	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
}
